html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #cbccb7;
}

@font-face {
    font-family:'Shimon';
    src:url('fonts/SHIMRG_.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Shimon';
    src:url('fonts/SHIMB__.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.header {
    width: 100%;
    height: 243px;
}

.adminView {
    margin: 15px 15px 0 0;
    width:32px;
    height:32px;
    float:right;
    background:url(img/manager.png) center no-repeat;
    border-radius: 16px;
    transition:all 1s;
    

}

.adminView:hover {
    background-color: #ffffff;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.14);
}

.logo {
    margin: 0 auto;
    width: 878px;
    height: 263px;
    position:relative;
}

.logo img {
    position:absolute;
    left:0;
    -webkit-transition: all 4s;
    -moz-transition: all 4s;
    -o-transition: all 4s;
    transition: all 4s;
}

@keyframes logofade {
    0% {
        opacity:1;
    }
    16% {
        opacity:0.6;
    }
    33% {
        opacity:0.3;
    }
    55% {
        opacity:0.5;
    }
    66% {
        opacity:0.7;
    }
    88% {
        opacity:0.3;
    }
    100% {
        opacity:0;
    }
}

.logo img.top {
    position:absolute;
    animation-name: logofade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-name: logofade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
}

.navBar {
    margin: 0 auto;
    width: 300px;
    height: 20px;
}

.navBar ul {
    padding:0
}

.navBar li {
    display: inline-block;
    width: 49%;
    text-align: center;
    font-family: Shimon;
    font-weight: bold;
    font-size: 19px
}

.navBar li a {
    text-decoration: none;
    color:#000000;
}

.navBar li a:hover {
    color:#4d4d45;
}

#chart{
    position:relative;
    margin-top:40px;
    width:412px;
    height:200px;
}

@-webkit-keyframes bargrowth{
    0%   {max-height: 0%;}
    100%  {max-height: 100%;}
}

@keyframes bargrowth{
    0%   {max-height: 0%;}
    100%  {max-height: 100%;}
}

.bar{
    -webkit-animation: bargrowth 1000ms ease;
    animation: bargrowth 1000ms ease;
    position:absolute;
    bottom:0;
    display:inline-block;
    box-shadow: 41px 0 0 #111, -41px 0 0px #111;
    position: absolute;
}

.bar p{
    top: -20px;
    margin: 0;
    position: relative;
    font-family: Shimon;
    font-size:20px;
    font-weight:normal;
    text-shadow:1px 2px 4px rgba(0,0,0, 0.2);
}

.wrapper{
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    width:412px;
    font-family:Helvetica;
    font-size:12px;
}
.wrapper > h1, .wrapper > p{
    margin:0;
}

.divisions {
    height:33px;
    display: table;
    width:613px;
    margin: 125px auto 0 auto;
    padding: 0;
    list-style: none;
    border-spacing: 57px 0;
}

.divisions li {
    display: table-cell;
    width: 141px;
    height:33px;
    text-align: center;
    font-family: Shimon;
    font-weight: normal;
    font-size: 19px;
    vertical-align: middle;
    background-color: #e5e6d6;
    border-radius:3px;
    -webkit-box-shadow:  inset 0px -4px 2px 0px rgba(255,255,255,0.17),0px 3px 8px 0px rgba(0,0,0,0.14);
    -moz-box-shadow:  inset 0px -4px 2px 0px rgba(255,255,255,0.17),0px 3px 8px 0px rgba(0,0,0,0.14);
    box-shadow:  inset 0px -4px 2px 0px rgba(255,255,255,0.17),0px 3px 8px 0px rgba(0,0,0,0.14);
    
}

.scoreWrapper {
    width:32px;
    height:32px;
    background-color: #f6f2e1;
    border-radius: 16px;
    -webkit-box-shadow:  inset 0px -4px 2px 0px rgba(255,255,255,0.17),0px 3px 8px 0px rgba(0,0,0,0.14);
    -moz-box-shadow:  inset 0px -4px 2px 0px rgba(255,255,255,0.17),0px 3px 8px 0px rgba(0,0,0,0.14);
    box-shadow:  inset 0px -4px 2px 0px rgba(255,255,255,0.17),0px 3px 8px 0px rgba(0,0,0,0.14);
    font-family: Shimon;
    transition: 0.6s all;
}

.scoreWrapper img {
    margin: 4px;
}

.scoreWrapper .scoreText {
    position: relative;
    bottom: 30px;
    left: 0px;
    visibility: hidden;
    margin: 0;
    font-size: 19px;
    text-align: center;
    color: #ffffff;
}

.scoreWrapper:hover .scoreText {
    visibility: visible;
    cursor: url(img/trophy.png), auto;
}

.scoreWrapper:hover {
    -webkit-box-shadow: inset 31px 10px 0 #585442;
    -moz-box-shadow: inset 31px 10px 0 #585442;
    box-shadow: inset 31px 10px 0 #585442;
}

.scoreDetails {
    display: block;
    width: 556px;
    height: 33px;
    margin: 8px auto;
    padding: 0;
}

.scoreDetails li {
    display: inline-block;
    margin: 0 3px;
}

.divDetails {
    margin: 0 30px;
}